@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body { @apply w-full h-screen bg-dark-cyan text-glacier-white antialiased selection:bg-clover-green/75 selection:text-white flex flex-col items-center justify-start }
    header, main, footer .container { @apply max-w-app-content }
    main { @apply w-full flex flex-col items-center gap-[5.625rem] xl:gap-40 px-4 xs:px-8 md:px-[7.5rem] py-12 md:py-20 lg:py-24 xl:py-32 }
    p, span, input { @apply truncate }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-text-fill-color: #FFFFFF7F;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 0 5rem #263c44;
    }

    ::-webkit-scrollbar            { @apply w-2 }
    ::-webkit-scrollbar:horizontal { @apply h-2 }
    ::-webkit-scrollbar,
    ::-webkit-scrollbar:horizontal { @apply bg-black/15 rounded-sm }
    ::-webkit-scrollbar-thumb      { @apply bg-zinnia rounded-sm }
    ::-webkit-scrollbar-corner     { @apply bg-transparent }
}

@layer utilities {
    .debug * { @apply border border-swift-red }
    .mark-text { @apply text-paw-paw }
    .flex-center { @apply flex items-center justify-center }
    .social-link-button { @apply w-12 h-12 bg-no-repeat bg-center bg-white/5 border-2 border-transparent hover:border-glacier-white rounded-full }
    .filter-zinnia { filter: brightness(0) saturate(100%) invert(59%) sepia(21%) saturate(2442%) hue-rotate(326deg) brightness(101%) contrast(99%); }
    .text-color-animate { @apply bg-clip-text bg-zinnia bg-gradient-to-r from-zinnia via-creepy-green bg-[length:700%_700%] text-transparent animate-[color_5s_linear_infinite] }
    .stretch-box-animate { @apply animate-[stretch_500ms_linear_both] }
    .tighten-box-animate { @apply animate-[tighten_500ms_linear_both] }
}

@keyframes color {
    from { background-position: 0% 50%; }
    to { background-position: 100% 50%; }
}
@keyframes stretch {
    from { width: 0; }
    to { width: 100%; }
}
@keyframes tighten {
    from { width: 100%; }
    to { width: 0; }
}